# ─────────────────────────────────────────────
#  Core
# ─────────────────────────────────────────────

pydantic
python-box
dotenv
ensure
langchain
langgraph
streamlit

# ─────────────────────────────────────────────
#  LLM Providers (install whichever you use)
# ─────────────────────────────────────────────

# langchain-anthropic         # for Claude
# langchain-openai            # for GPT models
# langchain-groq              # for Groq-hosted models
langchain_google_genai      # for Google Gemini


# ─────────────────────────────────────────────
#  Database
# ─────────────────────────────────────────────

langgraph-checkpoint-postgres
sqlalchemy
psycopg[binary,pool]>=3.1


# ─────────────────────────────────────────────
#  RAG Integration
# ─────────────────────────────────────────────

pdfplumber
langchain-text-splitters
chromadb


# ─────────────────────────────────────────────
#  EMBEDDING LLM Providers (install whichever you use)
# ─────────────────────────────────────────────

--extra-index-url https://download.pytorch.org/whl/cpu

torch
torchvision

# langchain-voyageai            # for Voyage AI
# langchain-openai              # for GPT models
# langchain-groq                # for Groq-hosted models
# langchain-ollama              # for ollama
# langchain_google_genai        # for Google Gemini
langchain-huggingface           # for Hugging Face 
sentence-transformers           # for Hugging Face Sentence transformer

-e .